<?xml version='1.0' encoding='utf-8'?>
<widget id="net.ccmcomputing.tabris.hello" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>HelloWorld</name>
    <description>
	Hello World Applicaiton
    </description>
    <author email="cole@ccmcomputing.net" href="http://ccmcomputing.net">
        CCM Computing
    </author>
    <content src="package.json" />
    <access origin="*" />
</widget>
